{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% blocktrans %}Questionnaire{% endblocktrans %}
{% endblock %}

{% block content %}
    {% trans 'jopa' %}
    <h1>{{ Constants.example_constant }}
    </h1>
    <h2>{{ param_from_page }}</h2>
    <div class="alert alert-danger">
        {% blocktrans  %}
            life of citizens, so<br>
            next line here
        {% endblocktrans %}
    </div>
    {% formfield player.age %}
    {% formfield player.mood %}

    {% next_button %}

{% endblock %}
